header {
    display: flex;
    background: #280f0f;
    width: 100%;
    height: 130px;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 80px;
    padding-right: 30px;
}

.logo-titulo {
    color: #D91604;
    font-family: 'Merriweather', serif;
    font-size: 3.3rem;
    padding: 0;
}

.logo-titulo:hover {
    color: #66FFFF;
}

.nav-lista {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

li a {
    color: #D91604;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: #66FFFF;
    text-decoration: none;
}

