header {
    background: #0D0D0D;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-image: url('../imagens/rest-background.jpg');
    position: fixed;
    opacity: 0.5;
    flex-wrap: nowrap;
    flex-direction: column;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 80px;
    padding-right: 30px;
}

.logo-titulo {
    color: #D91604;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    padding: 0;
}

.logo-titulo:hover {
    color: white;
}

.nav-lista {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

li a {
    color: #D91604;
    padding: 10px;
    font-size: 1.1rem;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: aliceblue;
    text-decoration: none;
}

