header {
    background: #0D0D0D;
    height: 10%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
}

.logo-titulo {
    color: #EB130C;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

.nav-lista {
    color: #EB130C;
    display: flex;
}

li a {
    color: #EB130C;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
    text-decoration: none;
}

@media screen and (max-width:600px){
    .menu{
        display: flex;
        flex-direction: column;
        height: 130px;
    }

.nav-lista {
        margin-top: 10px;
    }