<form action="https://desenvolvedor.moip.com.br/sandbox/PagamentoMoIP.do" method="post">
    <input type="hidden" name="id_carteira" value="integracao@labs.moip.com.br">
    Produto: <input type="text" name="nome" value="Motivo do pagamento"><br />  
    Valor: <input type="text" name="valor" value="100"><br />
    <input type="hidden" name="id_transacao" value="">    
    <input type="hidden" name="descricao" value="Adicione aqui mais informações sobre o pagamento">
    <input type="hidden" name="frete" value="1">  
    Peso Frete: <input type="text" name="peso_compra" value="1000"><br />   
    Nome completo: <input type="text" name="pagador_nome" value="Nome Sobrenome"><br /> 
    Email: <input type="text" name="pagador_email" value="email@comprador.com.br"><br />    
    Telefone: <input type="text" name="pagador_telefone" value="1155555555"><br />  
    Rua: <input type="text" name="pagador_logradouro" value="Rua do pagador"><br /> 
    Numero: <input type="text" name="pagador_numero" value="123"><br /> 
    Complemento: <input type="text" name="pagador_complemento" value="ap 001"><br />
    Bairro: <input type="text" name="pagador_bairro" value="Bairro do pagador"><br />
    CEP: <input type="text" name="pagador_cep" value="11111111"><br />  
    Cidade: <input type="text" name="pagador_cidade" value="São Paulo"><br />
    Estado: <input type="text" name="pagador_estado" value="SP"><br />  
    <input type="hidden" name="pagador_pais" value="Brasil">  
    CPF: <input type="text" name="pagador_cpf" value="22222222222"><br />   
    <input type="hidden" name="url_retorno" value="https://sualoja.com.br/notificacao/">
    <input type='image' name='submit' src='https://desenvolvedor.moip.com.br/sandbox/imgs/buttons/bt_pagar_c02_e04.png' alt='Pagar via Moip' border='0' />
</form>