.div-container{
    background: #0D0D0D;
    display: flex;
    flex-direction: column;
}

.titulo-produto{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    padding-bottom: 70px;
    color: #FFD700;
    margin-top: 200px;
}

.nome-produto{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #FFD700;
    margin: 50px;
}

.descricao{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding-bottom: 20px;
    color: #FFD700;
    margin-bottom: 50px;
}

.img-produto{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}


.container-produto{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
}

.container-1{
    
}

.container-2{
    /* align-items: flex-end; */
}


/* #refeicoes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* @media screen and (max-width:600px) {
   .img-produto{
       width: 100px;
       height: 100px;
   }
   
   .container-produto{
       display: flex;
       align-items: center;
   }

   .container-1{
       margin-left: 70px;
       margin-right: 10px;
   }
    
    
} */