.div-container{
    background: #0D0D0D;
    display: flex;
    flex-direction: column;
}

.titulo-produto{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    padding: 100px;
    color: #FFB028;
}

.nome-produto{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #FFB028;

}

.descricao{
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    padding-bottom: 20px;
    color: #FFB028;
}

.img-produto{
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 4px #241615;
    border-radius: 5px;
}


.container-produto{
    /* display: flex; */
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
}

.container-1{
    /* display: flex; */
    flex-direction: column;
    margin-left: 150px;
    margin-right: 50px;    
}

.container-2{
    /* display: flex; */
    flex-direction: column;
    margin-right: 120px;
}


/* #refeicoes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* @media screen and (max-width:600px) {
   .img-produto{
       width: 100px;
       height: 100px;
   }
   
   .container-produto{
       display: flex;
       align-items: center;
   }

   .container-1{
       margin-left: 70px;
       margin-right: 10px;
   }
    
    
} */