.titulo-produto{
    margin-left: 170px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 2.5rem;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #EB130C;
}

.nome-produto{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #EB130C;
    border-left: #F28507 solid 3px;
}

.descricao{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 20px;
    color: #EB130C;
}

.img-produto{
    width: 260px;
    height: 200px;
    box-shadow: 5px 5px 4px #241615;
    border-radius: 5px;
}