* {
    box-sizing: inherit;
} 

body, html {
    font-family: "Amatic SC", sans-serif;
    height: 100%;
    font-size: 15px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

.lg-top {
    top: 0;
}

.lg-top, .lg-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.lg-black, .lg-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.lg-xlarge {
    font-size: 24px!important;
}

.lg-opacity, .lg-hover-opacity:hover {
    opacity: 0.60;
}

.lg-bar {
    width: 100%;
    overflow: hidden;
}

div {
    display: block;
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./imagens/feijoada.jpg);
    min-height: 90%;
}

.lg-greyscale-min, .lg-grayscale-min {
    filter: grayscale(50%);
}

.lg-tooltip, .lg-display-container {
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}

/* element.style {
    font-size: 100px
} */

.lg-center {
    text-align: center!important;
}

.lg-text-white, .lg-hover-text-white:hover {
    color: #fff!important;
}

